{% if page.name == 'index.html' %}
    {% assign list-class = "" %}
{% elsif page.layout == 'category' %}
    {% assign list-class = "header--list" %}
{% elsif page.layout == 'post' %}
    {% assign list-class = "header--list" %}
{% endif %}


<header class="header {{ list-class }}">
    <div class="header__wrap">
        <button type="button" class="header__btn">
            <span class="blind">네비게이션</span>
        </button>
        <h1 class="header__h1">
            <a href="/" target="_self" class="header__link">
                <span class="header__logo"></span>
                <!--<span class="blind">Paper Craft </span>-->
            </a>
        </h1>
    </div>
</header>
